.all_dialogs {
    color: beige;
}

.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs_items {
    padding: 10px;

}

.dialogs_items .active {
    color: rgb(255, 255, 255);
}

.item {

}

.messages {
    padding: 10px;

}

.message_item {

}